body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.console-font {
  font-family: monospace;
  font-size: 0.8rem;
}
div.consoleContainer {
  display: inline-block;
  float: left;
  width: 500px;
}
div.consoleContainer div.console-output {
  font-family: monospace;
  font-size: 0.8rem;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border: #ccc 1px solid;
  margin-bottom: 0;
  background: #222;
  color: #fff;
}
div.consoleContainer div.console-output span.user {
  color: red;
}
div.consoleContainer div.console-output span.log {
  color: yellow;
}
div.consoleContainer input.console-input {
  font-family: monospace;
  font-size: 0.8rem;
  width: 100%;
  padding: 0px;
  border: #ccc 1px solid;
  border-top-width: 0;
  background: #222;
  color: #fff;
  display: block;
}
div.graphContainer {
  display: inline-block;
  float: left;
  width: 400px;
}
div.graphContainer div#graph {
  width: 100%;
  height: 400px;
}
