.sans {
  font-family: 'Roboto', sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lora', serif;
  font-size: 14pt;
}
header#page-header {
  background-color: #6b8ce1;
  height: 116px;
}
header#page-header div#page-header-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
header#page-header div#page-header-wrapper div#main-logo {
  display: inline-block;
  height: 116px;
  width: 220px;
  background-image: url(../images/winwood-logo.png);
  float: left;
}
header#page-header div#page-header-wrapper #header-title {
  display: inline-block;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 70px 0 0 0.5em;
  font-size: 1.8em;
}
header#menu-wrapper {
  background-color: #2751bf;
}
header#menu-wrapper ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: block;
}
header#menu-wrapper ul a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weigth: 500;
  line-height: 2em;
}
header#menu-wrapper ul a:not(:first-child) {
  margin-left: 1em;
}
header#menu-wrapper ul a li {
  display: inline-block;
  list-style: none;
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 .6em;
}
.content p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
.content ul,
.content ol {
  padding-left: 1.8em;
}
