extends layout

block head
  link(rel='stylesheet', href='/stylesheets/main.css')
  script(src='/socket.io/socket.io.js')
  script(src='https://www.google.com/jsapi')
  script(src='/javascripts/main.js')

block content
  div.consoleContainer
    h2 Console
    div.console-output
      .console-output-inner
    input.console-input(type='text')
  div.graphContainer
    h2 Graph
    div#graph
    div
      input#graphToggle(type='checkbox')
      | Update